
    <div class="main-container">
      <div class="main">
        <!-- Añadir un contenedor para el formulario -->
        <div class="form-wrapper">
          <div class="container mt-4">
            <h2>Crear Administrador</h2>
    
            <!-- Formulario que utiliza ngForm -->
            <form #userForm="ngForm" action="db.json" method="get" class="needs-validation" novalidate (ngSubmit)="submitAdmin(userForm.value)">
              
            <!-- Nombre -->
              <div class="form-group">
                <label for="NombreComercio">Nombre Completo</label>
                <input type="text" class="form-control" id="NombreCompleto" name="nombre_completo" ngModel required>
              </div>

              <!-- Usuario -->
              <div class="form-group">
                <label for="cedula">Nombre de Usuario</label>
                <input type="number" class="form-control" id="NombreUsuario" name="nombre_cedula" required ngModel>
              </div>
    
              <!-- Dirección (two fields in the same row) -->
              <div class="form-group row">
                <div class="col">
                  <label for="Direccion3">Provincia</label>
                  <input type="text" class="form-control" id="Direccion3" name="provincia" ngModel required>
                </div>
                <div class="col">
                  <label for="Direccion2">Cantón</label>
                  <input type="text" class="form-control" id="Direccion2" name="canton" ngModel required>
                </div>
                <div class="col">
                  <label for="Direccion">Distrito</label>
                  <input type="text" class="form-control" id="Direccion" name="distrito" ngModel required>
                </div>
              </div>
    
              <!-- Teléfonos (multiple fields) -->
              <div class="form-group">
                <label>Teléfonos</label>
                <div *ngFor="let phone of phones; let i = index; trackBy: trackByIndex" class="input-group mb-2">
                  <input type="tel" class="form-control" name="telefono_{{ i }}" [(ngModel)]="phones[i]" required>
                  <div class="input-group-append">
                    <button type="button" class="btn btn-danger" *ngIf="i > 0" (click)="removePhone(i)">Eliminar</button>
                  </div>
                </div>
                <button type="button" class="btn btn-secondary" (click)="addPhone()">Añadir Teléfono</button>
              </div>
    
              <!-- Botones -->
              <br>
              <button type="submit" class="btn btn-primary">Guardar</button>
            </form>
          </div>
        </div>
      </div>
    </div>    