:host {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--bs-body-bg);
  padding: 1rem 0;
}

.form-signin {
  max-width: 400px;
  padding: 2rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.logo-img {
  width: 250px;
  height: auto;
  margin-bottom: 1.5rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"],
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-radius: 5px;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Estilos adicionales para la validación */
.form-control.ng-touched.ng-invalid {
  border-color: var(--bs-danger);
}

.invalid-feedback {
  display: block;
}

/* Centrar el texto en la cabecera */
.text-center {
  text-align: center;
}
