:host {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-color: var(--bs-body-bg);
  padding: 1rem 0;
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Estilos adicionales para la validación */
.form-control.ng-touched.ng-invalid {
  border-color: var(--bs-danger);
}

.invalid-feedback {
  display: block;
}
